@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap);
:root{
    --primary-color:#9FA2A6;
    --second-color:#F2F2F2;
    --third-color: #404040;
    --fourth-color: #262626;
    --fifth-color: #0D0D0D;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}
a{
    text-decoration: none;
}

/* Header */

.top-header{
    position: fixed;
    background-color: var(--second-color);
    box-shadow: 0 4px 5px #e5e5e5;
    width: 100%;
    left: 0;
    top: 0;
}
.top-nav{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
.logo{
    background-color:var(--second-color);
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 0 15px;
}
.menu a{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}
.menu a:hover{
    color: var(--fifth-color);
}
.menu a::after{
    content: "";
    background-color: var(--fourth-color);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}
.menu a:hover::after{
    opacity: 1;
}
.search{
    display: flex;
    align-items: center;

}
.search-input{
    border:none;
    line-height: 25px;

}
.search-btn{
    background: var(--second-color);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 7px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.search-btn:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.search-btn:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
.menu-open,
.menu-close{
    display: none;
}

/* main */

#hero{
    width: 100%;
    height: 600px;
    color: white;
    background-image: url(assets/index/Fondo.webp);
    padding: 15vw 0;
    line-height: 3;
    background-size: cover;
}

.hero-content{
    margin-left: 60px;
}
.hero-content p{
    font-size: 20px;
}

.content-btn{
    background-color: var(--second-color);
    color: var(--primary-color);
    border: 2px solid var(--second-color);
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
}
.content-btn:hover{
    color: var(--fifth-color);
}
.content-btn:active{
    border-color: var(--fifth-color);
}

/* Cards de autos 0km */

#nuevos h1{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
}
#card{
    flex: 1 0 auto;
    margin: 0 10px;
    border: 2px solid var(--second-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
    height: 320px;
    background-color: white;
    line-height: 2;
}
#card h3{
    margin-left: 20px;
}
#card p{
    margin-left: 20px;
}
.nuevos-btn{
    margin: 40px 0;
    text-align: center;
}
.nuevos-btn a{
    background-color: var(--second-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 13px 17px 15px;
    font-size: 12px;
    transition: all 0.3s;
}
.nuevos-btn a:hover{
    font-size: 14px;
    color: var(--fifth-color);
}

/* Cards de autos usados */

#usados h1{
    text-align: center;
}
.usados-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
}
.usados-card{
    flex: 1 0 auto;
    margin: 0 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
    height: 320px;
    background-color: white;
    line-height: 2;
}
.usados-card h2,
.usados-card h3,
.usados-card p{
    margin-left: 20px;
}
.usados-btn{
    margin: 40px 0;
    text-align: center;
}
.usados-btn a{
    background-color: var(--second-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 13px 17px 15px;
    font-size: 12px;
    transition: all 0.3s;
}
.usados-btn a:hover{
    font-size: 14px;
    color: var(--fifth-color);
}


/* Footer */


footer{
    background-color: black;
}

/* ICONOS DEL FOOTER */

.logofoot{
    text-align: center;
}
.logofoot img{
    background-color: white;
    border: 4px solid black;
}
.copy{
    color: var(--second-color);
    text-align: center;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    margin-right: 0.5rem;
}
  
.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.card1 {
    width: 65px;
    height: 65px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}
  
.card2 {
    width: 65px;
    height: 65px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}
  
.card3 {
    width: 65px;
    height: 65px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}
  
.card4 {
    width: 65px;
    height: 65px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}
  
.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}
  
.card1:hover .instagram {
    fill: white;
}
  
.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}
  
.card2:hover .twitter {
    fill: white;
}
  
.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}
  
.card3:hover .github {
    fill: white;
}
  
.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}
  
.card4:hover .discord {
    fill: white;
}


/* Responsive */

@media (max-width: 950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--second-color);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    .menu a{
        color: var(--primary-color);
        line-height: 80px;
        font-size: 30px;
    }
    .menu li{
        padding:0;
    }
    .menu-close,
    .menu-open{
        display: block;
        border: none;
        background: none;
        cursor:pointer;
    }
    .menu-opened{
        opacity: 1;
        pointer-events: all;
    }
    .menu-close{
        align-self: flex-end;
        padding: 38px 13px;
    }
    .search{
        margin-top: 20px;
    }
    .menu a:hover{
        color: var(--fifth-color);
    }
    .menu a::after{
        content: none;
    }
    #hero{
        background-position: center;
    }
    .hero-content{
        margin-left: 30px;
        margin-top: 60px;
    }
    #nuevos h1{
        text-align: center;
    }
}