:root{
    --primary-color:#9FA2A6;
    --second-color:#F2F2F2;
    --third-color: #404040;
    --fourth-color: #262626;
    --fifth-color: #0D0D0D;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}
a{
    text-decoration: none;
}

/* Header */
.top-header{
    position: fixed;
    background-color: var(--second-color);
    box-shadow: 0 4px 5px #e5e5e5;
    width: 100%;
    left: 0;
    top: 0;
}
.top-nav{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
.logo{
    background-color:var(--second-color);
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 0 15px;
}
.menu a{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}
.menu a:hover{
    color: var(--fifth-color);
}
.menu a::after{
    content: "";
    background-color: var(--fourth-color);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}
.menu a:hover::after{
    opacity: 1;
}
.search{
    display: flex;
    align-items: center;

}
.search-input{
    border:none;
    line-height: 25px;

}
.search-btn{
    background: var(--second-color);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 7px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.search-btn:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.search-btn:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
.menu-open,
.menu-close{
    display: none;
}
.main{
    padding-top: 90px;
}

/* main */

.container{
    background-image: url(assets/concesionaria\ fondo.webp);
    background-size: cover;
    background-position: center;
}
.content-title{
    margin-top: 150px;
}

/* Responsive */

@media (max-width: 950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--primary-color);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    .menu a{
        color: var(--second-color);
        line-height: 80px;
        font-size: 30px;
    }
    .menu li{
        padding:0;
    }
    .menu-close,
    .menu-open{
        display: block;
        border: none;
        background: none;
        cursor:pointer;
    }
    .menu-opened{
        opacity: 1;
        pointer-events: all;
    }
    .menu-close{
        align-self: flex-end;
        padding: 38px 13px;
    }
    .search{
        margin-top: 20px;
    }
    .menu a:hover{
        color: var(--fifth-color);
    }
    .menu a::after{
        content: none;
    }
}